@model PartyInvites.Models.GuestResponse

<div class="text-center">
    <h1>感谢您的回复, @Model.Name!</h1>
    @if(Model?.WillAttend == true)
    {
        <p>我们很高兴您能参加我们的聚会！期待与您共度美好时光。</p>
    }
    else
    {
        <p>我们很遗憾您无法参加我们的聚会,但感谢您提前告知我们</p>
    }
    点击<a asp-action="ListResponses">查看</a>谁将参加。
</div>
