<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>聚会邀请</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
    <style>
        body {
            padding-top: 20px;
            width: 80%;
            margin: 0 auto;
        }
        header{
            height: 200px;
        }
        header img{
            width: 100%;
            height: 100%;
            object-fit: cover;
                }

        main{

            /* height: 800px; */
            background-color: #e9ecef;
            /* background-image: linear-gradient(rgba(255,255,255,0.45), rgba(0,0,0,0.45)), url('/images/party.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; */
        }
        footer{
            height:50px;
            background-color: #f8f9fa;
            font-size:0.6em;
            font-family:楷体;
            text-align: center;
        }
        footer p{
            line-height: 50px;
                }
    </style>
</head>
<body>      
    <div class="container">
        <header>
            <img src="~/images/party1.jpeg" alt="Alternate Text" />
        </header>
        <main>            
            @RenderBody()
        </main>
        <footer><p>&copy; 2024 聚会邀请</p></footer>
    </div>            
</body>
</html>
